# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.runtime/
scripts/keep-dev-server.ps1
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
errors.txt
typescript-errors.txt
Wait-Process

npm-debug.log*
yarn-debug.log*
yarn-error.log*
